@*@model IEnumerable<FundRaiserSystemEntity.PostingCategory>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">List of Category</a></li>
    <li><a data-toggle="tab" href="#menu1">Add Category</a></li>

</ul>

<script>
    $(function () {
        $("#example").dataTable();
    })
</script>


<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>List of Category</strong></div>
                        <div class="panel-body" style="text-align:center">
                            <table class="table table-border" id="example">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryName</td>
                                            <td>
                                                <a href="/ManageCategory/Edit/@item.CategoryId" class="btn btn-primary ActionButton"><i class="glyphicon glyphicon-edit"></i> Edit</a>&nbsp;
                                                <a href="/ManageCategory/Delete/@item.CategoryId" class="btn btn-danger ActionButton"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Add Category</strong></div>
                        <div class="panel-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="CategoryName">Category Name</label>
                                    <input type="text" class="form-control" name="CategoryName" id="category" />
                                    <span id="error_category" class="text-danger">@ViewBag.ErrorMessage</span>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).on("click", ".ActionButton", function (e) {
            if (confirm('Are you sure?'))
            {
                return true;
            }
            else
            {
                e.preventDefault();
                return false;
            }
        });
        $(document).on("submit", "form", function (e) {

            if ($("#category").val() == "") {
                $("#error_category").html("Category Name can not be empty");
                e.preventDefault();
                return false;
            }
            else {
                $("#error_category").html("");
                return true;
            }
        });
    });
</script>
