.background {
        background-color: #d6d6d7;

    /*background-image: url('../../Image/white-rhombus-pattern_1053-249.jpg');*/
    background-repeat: repeat;
    background-attachment: scroll;
}

.im-overlay {
    position: absolute;
    top: 44%;
    bottom: 5%;
    left: 20%;
    right: 20%;
    text-align: center;
}

    .im-overlay .btn-success {
        background-color: #8AAA21;
        font-size: 25px;
        border-radius: 6%;
    }



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    height: 396px;
    max-width: 100%;
    padding-top: 58px;
}

hr {
    background-color: #8AAA21;
    height: 7px;
    border-radius: 26%;
}


.carousel-control.left {
    background-image: none;
    bottom: 132px;
    left: -97px;
    opacity: 50;
}

.carousel-control.right {
    background-image: none;
    right: -62px;
    bottom: 112px;
    opacity: 50;
}

.container .row .carousel-control .glyphicon {
    color: #8AAA21;
}

.progress {
    background-color: #cabe6e;
}
