.background {
    background-color: #d6d6d7;
    background-repeat: repeat;
    padding: 4%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 40px;
}

.col-md-4 {
    padding-top: 44px;
}

.pull-right {
    background-color: #8AAA21;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
