.navbar {
    position: fixed;
    width: 100%;
}

.glyphicon-align-justify {
    color: white;
}

.container-fluid {
}

.navbar-header a {
    color: white;
}



.menu a {
    color: white;
    position: fixed;
}

    .menu a:hover {
        color: red;
    }

ul li {
    font-size: large;
    text-align: center;
}

.navbar.navbar-right {
    text-align: right;
    text-decoration-color: white;
}

.navbar-nav > li > a {
    padding-right: 43.5px;
    font-size: 16px;
    color: white;
}

.nav .caret {
    border-top-color: #f2f7fb;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 3px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571;
    color: #fbf8f8;
    white-space: nowrap;
    background-color: #8AAA21;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
