.container .row {
    padding: 15% 0% 0% 0%;
    width: 110%;
    left: 42%;
}

    .container .row .panel {
        box-shadow: 10px 10px 5px #888888;
    }

        .container .row .panel .panel-heading {
            color: white;
            background-color: #8AAA21;
        }

.pull-right {
    background-color: #8AAA21;
    font-size: 18px;
    color: white;
}
