
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">All Bank Info</a></li>
    <li><a data-toggle="tab" href="#menu1">Add Bank Information</a></li>

</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>All Bank Info</strong></div>
                    <div class="table tab-pane" style="text-align:center">
                        <table class="table table-bordered">
                            <tr>
                                <th>Bank Name</th>
                                <th>Branch Name</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var item in ViewBag.BankList)
                            {
                                <tr>
                                    <td>@item.BankName</td>
                                    <td>@item.BranchName</td>
                                    <td style="text-align:center">
                                        <a href="/ManageBankInformation/Edit/@item.BankId" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>&nbsp;
                                        <a href="/ManageBankInformation/Delete/@item.BankId" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Provide Bank Information</strong></div>
                        <div class="panel-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="BankName">Bank Name</label>
                                    <input type="text" class="form-control" name="BankName" />
                                </div>
                                <div class="form-group">
                                    <label for="BranchName">Branch Name</label>
                                    <input type="text" class="form-control" name="BranchName" />
                                </div>
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<br />
