
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h5 class="text-danger">@ViewBag.ErrorMessage</h5>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">All Bank Info</a></li>
    <li><a data-toggle="tab" href="#menu1">Add Bank Information</a></li>

</ul>

<script>
    $(function () {
        $("#example").dataTable();
    })
</script>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>All Bank Info</strong></div>
                    <div class="table tab-pane" style="text-align:center">
                        <table class="table table-bordered" id="example">
                            <thead>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Branch Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.BankList)
                                {
                                    <tr>
                                        <td>@item.BankName</td>
                                        <td>@item.BranchName</td>
                                        <td style="text-align:center">
                                            <a href="/ManageBankInformation/Edit/@item.BankId" class="btn btn-primary ActionButton"><i class="glyphicon glyphicon-edit"></i> Edit</a>&nbsp;
                                            <a href="/ManageBankInformation/Delete/@item.BankId" class="btn btn-danger ActionButton"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Provide Bank Information</strong></div>
                        <div class="panel-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="BankName">Bank Name</label>
                                    <input type="text" class="form-control" name="BankName" id="bank_name" />
                                    <span id="error_bank" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="BranchName">Branch Name</label>
                                    <input type="text" class="form-control" name="BranchName" id="branch_name"/>
                                    <span id="error_branch" class="text-danger"></span>
                                </div>
                                <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<br />


<script type="text/javascript">
    $(function () {
        $(document).on("click", ".ActionButton", function (e) {
            if (confirm('Are you sure?')) {
                return true;
            }
            else {
                e.preventDefault();
                return false;
            }

        });

        $(document).on("submit", "form", function (e) {

            if ($("#bank_name").val() == "") {
                $("#error_bank").html("Valid Bank Name is Expected");
                e.preventDefault();
                return false;
            }

            else
                $("#error_bank").html("");

            if ($("#branch_name").val() == "") {
                $("#error_branch").html("Valid Bank Name is Expected");
                e.preventDefault();
                return false;
            }
            else
                $("#error_branch").html("");
        });
    });
</script>
