
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div>
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Change password</strong></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="CurrentPassword">Current Password</label>
                                <input type="password" name="CurrentPassword" id="CurrentPassword" placeholder="Enter Currect Password" class="form-control" />
                                <span class="text-danger" id="error_password"></span>
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">Enter New Password</label>
                                <input type="password" name="NewPassword" id="password" placeholder="Password" class="form-control" />
                                <span class="text-danger" id="error_newpass"></span>
                                <span style="color:red;" id="result"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="confirmPassword" id="ConfirmPassword" placeholder="Re-Type Password" class="form-control" />
                                <span class="text-danger" id="error_confPass"></span>
                                <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                            </div>
                            <input type="submit" value="Change Password" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {

        $("#CurrentPassword").keyup(function () {
            $.ajax({
                url: '@Url.Action("GetCurrentPassword", "MyProfile")',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                data: { id: $("#CurrentPassword").val() },
                success: function (response) {
                    if (response.message == "Password Do Not Match")
                        $('#error_password').css("color", "red");
                    else
                        $('#error_password').css("color", "green");

                    $('#error_password').html(response.message);
                }
            });
        });

        $(document).on("submit", "form", function (e) {

            if ($("#CurrentPassword").val() == "") {
                $("#error_password").html("Password Cannot be empty");
                e.preventDefault();
                return false;
            }

            else if ($('#error_password').html() == "Password Do Not Match") {
                e.preventDefault();
                return false;
            }

            else
                $("#error_password").html("");


            $("#password").keyup(function () {
                $("#error_newpass").html("");
            });
            $("#ConfirmPassword").keyup(function () {
                if ($("#error_confPass").html() == "Password Cannot be empty")
                    $("#error_confPass").html("");
            });

            if ($("#password").val() == "")
            {
                $("#error_newpass").html("Password Cannot be empty");
                e.preventDefault();
                return false;
            }
            
            else
                $("#error_newpass").html("");

            if ($("#ConfirmPassword").val() == "")
            {
                $("#error_confPass").html("Password Cannot be empty");
                e.preventDefault();
                return false;
            }
            else
                $("#error_confPass").html("");

            if ($("#password").val() != $("#ConfirmPassword").val())
            {
                $("#error_confPass").html("Password and Confirm Password Do not match");
                e.preventDefault();
                return false;
            }
            else
            {
                $("#error_confPass").html("");
                return true;
            }
        });
    });
</script>
