
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewersLayout.cshtml";
}

<form method="post" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h3>Type Your Email</h3>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" id="email" name="email" />
                        </div>
                        <span class="text-danger" id="error_message">@ViewBag.EmailError</span>
                        <span class="text-danger" id="error_empty"></span><br />
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Get Your Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<h1>@ViewBag.message</h1>



<script type="text/javascript">
    $(function () {

        $("#email").keyup(function () {
            $("#error_empty").html("");
            $.ajax({
                url: '@Url.Action("VerifyEmail", "ForgetPassword")',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                data: { id: $("#email").val() },
                success: function (response) {
                    $('#error_message').html(response.message);
                }
            });
        });

        $(document).on("submit", "form", function (e) {

            if ($("#email").val() == "")
            {
                $("#error_empty").html("Email Cannot be empty");
                e.preventDefault();
                return false;
            }

            else if ($('#error_message').html() == "Invalid Email")
            {
                
                e.preventDefault();
                return false;
            }

            else
            {
                $("#error_message").html("");
                return true;
            }
        });
    });
</script>
