
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewersLayout.cshtml";
}

<form method="post" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h3>Type Your Email</h3>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="text" id="email" name="email" /><br />
                        </div>
                        <span class="text-danger" id="error"></span>
                        <span class="text-success" id="noterror"></span>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Get Your Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

