
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form method="post" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="text-danger">@ViewBag.message</h2>
                <h2 class="text-danger">@ViewBag.MailSendingError</h2>
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>New Password</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="password">Enter Password</label>
                            <input type="password" id="password" name="Password" class="form-control" />
                            <span class="text-danger" id="result"></span>
                            <span id="error_pass"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" id="confPass" name="confirmPassword" placeholder="Re-Type Password" class="form-control" />
                            <span id="error_confPass"></span>
                            <h5 class="text-danger">@ViewBag.PassError</h5>
                        </div>
                        <input type="hidden" name="UserEmail" value="@ViewBag.email" />
                        <input type="submit" id="submit" value="Register" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).on("submit", "form", function (e) {

        if ($("#password").val() == "") {
            $("#error_pass").html("Password Cannot be empty");
            e.preventDefault();
            return false;
        }
        else
            $("#error_pass").html("");

        if ($("#confPass").val() == "") {
            $("#error_confPass").html("Password Cannot be empty");
            e.preventDefault();
            return false;
        }
        else
            $("#error_confPass").html("");

        if ($("#password").val() != $("#confPass").val()) {
            $("#error_confPass").html("Password and Confirm Password Do not match");
            e.preventDefault();
            return false;
        }
        else {
            $("#error_confPass").html("");
            return true;
        }
    });
</script>

