<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Partial.css" rel="stylesheet" />
</head>
<body>
    <div id="footer">
        <ul>

            <li><a href="#">About Fund Raising System</a>|</li>
            <li><a href="#">Locations</a>|</li>
            <li><a href="#">Terms & Condition</a>|</li>
            <li><a href="#">Contacts</a></li>

        </ul>
        <div id="copyright">
            <span>Copyright &copy;@DateTime.Now.Year </span>
            <span>&copy; Design by <a href="" target="_blank">Fund Raiser Design Team</a></span>
        </div>
        <a href="www.facebook.com" target="_blank" class="fa fa-facebook"></a>
        <a href="www.youtube.com" target="_blank" class="fa fa-youtube"></a>
        <a href="www.twitter.com" target="_blank" class="fa fa-twitter"></a>
        <a href="www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
    </div>
    <br />
</body>
</html>

