<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/css/passwordscheck.css" rel="stylesheet" />
    <script src="~/Scripts/passwordscheck.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/Scripts/FBSDKJavaScript.js"></script>

    @RenderSection("scripts", false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    @RenderSection("styles", false)

    <style type="text/css">
        .linkColor{
            color:black;
        }
        ul li {
            font-size: large;
        }
    </style>
</head>
<body style="background-color:#eeeff4">
    <nav class="navbar navbar-light" style="background-color: #47c9af;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand linkColor" href="/Home"><i class="glyphicon glyphicon-home"></i> FRS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home" class="linkColor">Home</a></li>
                <li><a href="/AddFundRequest" class="linkColor">Start Campain</a></li>
                <li><a href="/ViewAllPosts" class="linkColor">Donate Now</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/UserRegistration" class="linkColor"><i class="glyphicon glyphicon-file"></i> Register</a></li>
                <li><a href="/Login" class="linkColor"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <nav class="copyright" style="background-color: #47c9af;">
        <div class="container">
            <div class="col-md-12">
                <br />
                <h5 class="pull-left">© 2016 - All Rights with Webenlance</h5>
                <br />
                <br />
                <ul class="bottom_ul">
                    <li><a href="#" class="linkColor">FRS.com</a></li>
                    <li><a href="#" class="linkColor">About us</a></li>
                    <li><a href="#" class="linkColor">Blog</a></li>
                    <li><a href="#" class="linkColor">Faq's</a></li>
                    <li><a href="#" class="linkColor">Contact us</a></li>
                    <li><a href="#" class="linkColor">Site Map</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                height: 100%; width: 100%; background-color: #FFFFFF">
            <p style="margin-left: 10px">We're sorry, but This site doesn't work properly without JavaScript enabled. Please Enable Javascript</p>
        </div>
    </noscript>
</body>
</html>