
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<noscript>
    <div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                height: 100%; width: 100%; background-color: #FFFFFF">
        <p style="margin-left: 10px">We're sorry, but This site doesn't work properly without JavaScript enabled. Please Enable Javascript</p>
    </div>
</noscript>
<div style="position:center">
    @RenderBody()
</div>

