
@{
    ViewBag.Title = "FAQ";
    if (Session["Login"] == null)
    {
        Layout = "~/Views/Shared/_ViewersLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">FAQs</h2>
            <h2>1. How to register myself?</h2>
            <p>
                Go to <b>Register</b> option. Use a valid email address and use a password.
                A varification link will be sent to the email address. 
                Click on the varification link and provide the required informations.
                And you will be a registered user.
            </p>
            <h2>2. How can I start a new campain?</h2>
            <p>
                Login to the system using your account. Go to <b>Start Campain</b> option.
                Fill all the required informations. Select a category of the post and provide a proof against your fund collection issue.
                Send the request for Admins approval.
            </p>
            <h2>3. How can I donate a person?</h2>
            <p>

            </p>
            <h2>4. How many time I can donate a campain?</h2>
            <p>
                You can donate a campain as many time as you wish.
            </p>
            <h2>5. How much I can donate for a campain?</h2>
            <p>
                You can donate any amount as you wish.
            </p>
            <h2>6. How to withdraw donated money?</h2>
            <h2>7. Is there any service charge?</h2>
            <h2>8. What is the minimum withdraw amount?</h2>
            <h2>9. My campain has expired. Is there any way to extend time?</h2>
            <h2>10. I am not a person of Bangladesh. Can I request for fund?</h2>
            <h2>11. I want to donate but don't want to show my information. Is that possible?</h2>
            <h2>12. How i understand fundseeker is not fake?</h2>
        </div>
    </div>
</div>
