
@{
    ViewBag.Title = "Proof";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 style="text-align:center">Proofs</h2>

            @{
                var a = 0;
                foreach (var item in ViewBag.Proofs)
                {
                    a++;
                    <div style="float:left; text-align:center">
                        <a href="~/PostProofImages/@item.PictureForProof">
                            <img src="~/icon/proofimages.png" height="50" width="50" alt="Alternate Text" />
                            <br />
                            <span>Proof @a</span>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>


