
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Send Fund Withdraw Request</strong></div>
                    <div class="panel-body">
                        <h3>@Model.PostTitle</h3>
                        <span>Available Amount @Model.RemainingAmount/=</span>
                        <br />
                        <div class="form-group">
                            <label for="amount">Enter Amount</label>
                            <input type="number" min="0" step=".01" class="form-control" name="Amount" />
                        </div>
                        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                        <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-send"></i> Send Request</button>
                        <a href="/FundWithdraw/MyWithdraws" class="pull-left">See Withdraw Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
