
table tr th {
    text-align: center;
}

table thead tr th {
    text-align: center;
}

.tabMenu {
    margin-left: 7%;
}

hr {
    background-color: #47c9af;
    height: 7px;
    border-radius: 26%;
}


.carousel-control.left {
    background-image: none;
    bottom: 132px;
    left: -110px;
    opacity: 50;
}

.carousel-control.right {
    background-image: none;
    bottom: 132px;
    right: -90px;
    opacity: 50;
}

.progress {
    background-color: #DEB887;
    width: 100%;
    margin: 9px -32px 7px -4px;
    padding: 1px;
}

.container .row .panel .panel-heading {
    color: white;
    background-color: #00cc00;
}

.btn-primary{
    background-color: #00cc00;
}

/*.icon-button {
    outline: none;
    border: 0;
    background: transparent;
}*/
.icon-button {
    /*appearance: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}



