.background {
    background-image: url('../../Image/white-rhombus-pattern_1053-249.jpg');
    background-repeat: repeat;
    padding: 9.5%;
}

.container .row {
    padding: 6% 45% 0% 0%;
    width: 152%;
    left: 42%;
}


    .container .row .panel {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .container .row .panel .panel-heading {
            color: white;
            background-color: #8AAA21;
        }

.pull-right {
    background-color: #8AAA21;
    font-size: 18px;
    color: white;
}

.panel-body {
    padding: 56px;
    font-size: 18px;
}

    .panel-body .btn-default {
        background-color: #8AAA21;
        color: white;
        margin-left: 43px;
    }
