.background {
    background-image: url('../../Image/white-rhombus-pattern_1053-249.jpg');
    background-repeat: repeat;
    padding: 6%;
}

table > thead > tr > th {
    background-color: #8AAA21;
    color: white;
}

table > tbody > tr > td {
    background-color: white;
    color: black;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px 0px 0px 0px;
    line-height: 2.428571;
}

hr {
    background-color: #8AAA21;
    height: 3px;
}

.container .row .panel .panel-heading {
    color: white;
    background-color: #8AAA21;
}

a {
    color: #8AAA21;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #8AAA21;
}

#home table > thead > tr > th {
    background-color: #8AAA21;
    color: white;
}

#menu1 table > thead > tr > th {
    background-color: #8AAA21;
    color: white;
}

#menu2 table > thead > tr > th {
    background-color: #8AAA21;
    color: white;
}

.btn-primary {
    font-size: 18px;
    color: white;
}
