
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <ul>
        <li><a href="/AdminReports/TopDonor">Top Donor</a></li>
        <li><a href="/AdminReports/TopDonatedPosts">Top Donated Posts</a></li>
        <li><a href="#/AdminReports/CollectedAmmountOfMonth">Collected AmmountOf Month</a></li>
        <li><a href="/AdminReports/MostViewedPosts">Most Viewed Posts</a></li>
    </ul>
</div>
