
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<span>reports</span>


@section pendingPost{
    @ViewBag.Posts
}

@section pendingWithdraw{
    @ViewBag.Withdraws
}